<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Dynamic Form</h3>
      <hr>
    
      <div >
        <!-- personal info -->
        <app-form  #template [questions]=" questions$ | async">
          <h5>Personal Information</h5>
        </app-form>
      </div>
   
      <hr>
    <div class="">
      <!-- education -->
      <app-form #template [questions]=" questions2$ | async">
        <h5>Education</h5>
      </app-form>
    </div>
    <hr>
    <div>
      <button class="btn btn-primary  mt-2" style="float: right;" (click)="onSubmit()">Submit</button>
    </div>

  </div>
  </div>
</div>